<div class='flex min-h-screen items-center justify-center bg-gray-100'>
  <div class='w-full max-w-lg rounded-lg bg-white p-8 shadow-xl'>
    <h1 class='mb-8 text-center text-2xl font-semibold text-gray-800'>CREAR
      PROVEEDOR</h1>

    <form onsubmit='createSupplier(event)' class='rounded px-8 pb-8 pt-6'>
      <div class='mb-6'>
        <label
          for='supplier'
          class='mb-2 block text-sm font-bold text-gray-700'
        >NOMBRE DEL PROVEEDOR</label>
        <input
          type='text'
          id='supplier'
          name='name'
          class='focus:shadow-outline w-full appearance-none rounded border px-3 py-2 leading-tight text-gray-700 shadow focus:outline-none'
          placeholder='INGRESE EL NOMBRE DEL PROVEEDOR'
          autocomplete='off'
        />
      </div>

      <div class='mb-4 flex items-center'>
        <input
          id='enableCurrencySelect'
          name='enableCurrencySelect'
          type='checkbox'
          class='form-checkbox h-5 w-5 text-blue-600'
          onchange="document.getElementById('currencySelect').disabled = !this.checked;"
        />
        <label
          for='enableCurrencySelect'
          class='ml-2 text-sm font-bold text-gray-700'
        >ACTIVAR MONEDA EXTRANJERA</label>
      </div>

      <div class='mb-6'>
        <label
          for='currencySelect'
          class='mb-2 block text-sm font-bold text-gray-700'
        >SELECCIONAR MONEDA EXTRANJERA</label>
        <select
          id='currencySelect'
          name='dollar'
          class='focus:shadow-outline block w-full appearance-none rounded border border-gray-300 bg-white px-4 py-2 pr-8 leading-tight hover:border-gray-400 focus:outline-none'
          autocomplete='off'
          disabled
        >
          {{#each dollars}}
            <option value='{{this._id}}'>{{this.name}}</option>
          {{/each}}
        </select>
      </div>

      <div class='mt-8 flex items-center justify-between'>
        <a
          href='/'
          class='focus:shadow-outline rounded bg-red-500 px-4 py-2 font-bold text-white hover:bg-red-700 focus:outline-none'
        >
          ATRÁS
        </a>
        <button
          type='submit'
          class='focus:shadow-outline rounded bg-blue-500 px-4 py-2 font-bold text-white hover:bg-blue-700 focus:outline-none'
        >
          CREAR
        </button>
      </div>
    </form>
  </div>
</div>

<script src='/js/addSupplier.js'></script>