<div id='external' class='w-full'>
  <div class='mx-auto bg-white p-4'>
    <button
      id='print-button'
      class='no-print mx-auto mb-5 block rounded-md bg-blue-500 px-6 py-3 font-bold text-white hover:bg-blue-700'
    >
      IMPRIMIR CÓDIGOS
    </button>
    <div class='grid grid-cols-3 gap-4'>
      {{#each products}}
        <div class='border border-gray-300 p-4'>
          <div class='flex flex-col items-center justify-center gap-4'>
            <img src='{{this.bar_code}}' alt='Barcode' />
            <p class='text-center text-sm'>{{this.description}}</p>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>
<script src='/js/codebarsPrint.js'></script>