<div class='flex min-h-screen items-center justify-center bg-gray-100'>
  <div class='w-full max-w-md rounded-lg bg-white p-8 shadow-xl'>
    <h1 class='mb-6 text-center text-2xl font-semibold text-gray-800'>EDITAR
      VALOR DE LA MONEDA</h1>

    <form
      onsubmit='editCurrency(event)'
      class='rounded bg-white px-8 pb-8 pt-6'
      data-dolar-id='{{currency._id}}'
    >
      <div class='mb-6'>
        <label
          for='currencyName'
          class='mb-2 block text-sm font-bold text-gray-700'
        >NOMBRE DE LA MONEDA:</label>
        <input
          type='text'
          id='currencyName'
          name='name'
          value='{{currency.name}}'
          class='focus:shadow-outline w-full appearance-none rounded border px-3 py-2 leading-tight text-gray-700 shadow focus:outline-none'
          required
          autocomplete='off'
        />
      </div>

      <div class='mb-6'>
        <label
          for='currencyValue'
          class='mb-2 block text-sm font-bold text-gray-700'
        >VALOR ACTUAL DE LA MONEDA:</label>
        <input
          type='number'
          id='currencyValue'
          name='value'
          step='0.01'
          value='{{currency.value}}'
          class='focus:shadow-outline w-full appearance-none rounded border px-3 py-2 leading-tight text-gray-700 shadow focus:outline-none'
          required
          autocomplete='off'
        />
      </div>

      <div class='mb-6'>
        <label
          for='lastModified'
          class='mb-2 block text-sm font-bold text-gray-700'
        >ÚLTIMA MODIFICACIÓN:</label>
        <input
          type='text'
          id='lastModified'
          name='lastModified'
          value='{{formatDate currency.updated_at}}'
          class='w-full appearance-none rounded border px-3 py-2 leading-tight text-gray-700 shadow'
          disabled
        />
      </div>

      <div class='flex items-center justify-between gap-4'>
        <a
          href='/manage-currencys'
          class='focus:shadow-outline rounded bg-red-500 px-4 py-2 font-bold text-white hover:bg-red-700 focus:outline-none'
        >
          ATRÁS
        </a>
        <button
          type='submit'
          class='focus:shadow-outline rounded bg-blue-500 px-4 py-2 font-bold text-white hover:bg-blue-700 focus:outline-none'
        >
          GUARDAR CAMBIOS
        </button>
      </div>
    </form>
  </div>
</div>

<div
  id='toast'
  class='fixed bottom-5 left-5 z-50 mx-auto hidden max-w-sm overflow-hidden rounded-lg shadow-md'
  role='alert'
>
  <div class='shadow-xs overflow-hidden rounded-lg bg-white'>
    <div class='flex items-center p-4'>
      <div
        class='inline-flex h-8 w-8 flex-shrink-0 items-center justify-center rounded-lg bg-blue-100 text-blue-500'
      >
        <svg
          class='h-5 w-5'
          fill='none'
          stroke='currentColor'
          viewBox='0 0 24 24'
          xmlns='http://www.w3.org/2000/svg'
        >
          <path
            stroke-linecap='round'
            stroke-linejoin='round'
            stroke-width='2'
            d='M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z'
          ></path>
        </svg>
      </div>
      <div class='ml-3 text-sm font-normal' id='textNotification'>MENSAJE DE LA
        NOTIFICACIÓN</div>
      <button
        type='button'
        class='-mx-1.5 -my-1.5 ml-auto inline-flex h-8 w-8 rounded-lg bg-white p-1.5 text-gray-400 hover:bg-gray-100 hover:text-gray-900 focus:ring-2 focus:ring-gray-300'
        data-dismiss-target='#toast'
        aria-label='CERRAR'
      >
        <span class='sr-only'>CERRAR</span>
        <svg
          class='h-5 w-5'
          fill='none'
          stroke='currentColor'
          viewBox='0 0 24 24'
          xmlns='http://www.w3.org/2000/svg'
        >
          <path
            stroke-linecap='round'
            stroke-linejoin='round'
            stroke-width='2'
            d='M6 18L18 6M6 6l12 12'
          ></path>
        </svg>
      </button>
    </div>
  </div>
</div>

<script src='/js/editCurrency.js'></script>