<div class='flex min-h-screen flex-col bg-gray-100'>
  <div class='flex flex-grow flex-col justify-center'>
    <div class='mx-auto max-w-4xl px-4 sm:px-6 lg:px-8'>
      <div class='rounded-lg bg-white p-10 shadow-lg'>
        <h1 class='mb-10 text-center text-4xl font-bold text-gray-800'>MENÚ DE
          OPCIONES</h1>
        <div
          class='grid grid-cols-1 gap-8 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4'
        >
          <a
            href='/list-products'
            class='flex items-center justify-center rounded-lg bg-blue-600 px-6 py-4 text-center font-bold text-white transition duration-300 ease-in-out hover:bg-blue-800'
          >
            LISTA DE PRECIOS
          </a>
          <a
            href='/manage-suppliers'
            class='flex items-center justify-center rounded-lg bg-purple-600 px-6 py-4 text-center font-bold text-white transition duration-300 ease-in-out hover:bg-purple-800'
          >
            PROVEEDORES
          </a>
          <a
            href='/manage-factors'
            class='flex items-center justify-center rounded-lg bg-green-600 px-6 py-4 text-center font-bold text-white transition duration-300 ease-in-out hover:bg-green-800'
          >
            FACTORES DE MULTIPLICACIÓN
          </a>
          <a
            href='/upload-document'
            class='flex items-center justify-center rounded-lg bg-red-600 px-6 py-4 text-center font-bold text-white transition duration-300 ease-in-out hover:bg-red-800'
          >
            CARGAR LISTA DE PRODUCTOS
          </a>
          <a
            href='/manage-dollars'
            class='flex items-center justify-center rounded-lg bg-yellow-600 px-6 py-4 text-center font-bold text-white transition duration-300 ease-in-out hover:bg-yellow-800'
          >
            ADMINISTRAR DÓLARES
          </a>
          <a
            href='/update-prices-list'
            class='flex items-center justify-center rounded-lg bg-orange-600 px-6 py-4 text-center font-bold text-white transition duration-300 ease-in-out hover:bg-orange-800'
          >
            ACTUALIZAR LISTA DE PRECIOS
          </a>
          <a
            href='/generate-codebars'
            class='flex items-center justify-center rounded-lg bg-indigo-600 px-6 py-4 text-center font-bold text-white transition duration-300 ease-in-out hover:bg-indigo-800'
          >
            GENERAR CÓDIGOS DE BARRAS
          </a>
          <a
            href='/api/users/logout'
            class='flex items-center justify-center rounded-lg bg-gray-600 px-6 py-4 text-center font-bold text-white transition duration-300 ease-in-out hover:bg-gray-800'
          >
            CERRAR SESIÓN
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
text-center