<div class='flex flex-col min-h-screen bg-gray-100'>
  <div class='flex-grow flex flex-col justify-center'>
    <div class='max-w-4xl mx-auto px-4 sm:px-6 lg:px-8'>
      <div class='bg-white rounded-lg shadow-lg p-10'>
        <h1 class='text-4xl font-bold text-gray-800 mb-10 text-center'>Menú de
          Opciones</h1>
        <div
          class='grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8'
        >
          <a
            href='/list-products'
            class='flex items-center justify-center bg-blue-600 hover:bg-blue-800 text-white font-bold py-4 px-6 rounded-lg transition duration-300 ease-in-out text-center'
          >
            Lista de precios
          </a>
          <a
            href='/manage-suppliers'
            class='flex items-center justify-center bg-purple-600 hover:bg-purple-800 text-white font-bold py-4 px-6 rounded-lg transition duration-300 ease-in-out text-center'
          >
            Proveedores
          </a>
          <a
            href='/manage-factors'
            class='flex items-center justify-center bg-green-600 hover:bg-green-800 text-white font-bold py-4 px-6 rounded-lg transition duration-300 ease-in-out text-center'
          >
            Factores de Multiplicación
          </a>
          <a
            href='/upload-document'
            class='flex items-center justify-center bg-red-600 hover:bg-red-800 text-white font-bold py-4 px-6 rounded-lg transition duration-300 ease-in-out text-center'
          >
            Cargar Lista de Productos
          </a>
          <a
            href='/manage-dollars'
            class='flex items-center justify-center bg-yellow-600 hover:bg-yellow-800 text-white font-bold py-4 px-6 rounded-lg transition duration-300 ease-in-out text-center'
          >
            Administrar Dólares
          </a>
          <a
            href='/update-prices-list'
            class='flex items-center justify-center bg-orange-600 hover:bg-orange-800 text-white font-bold py-4 px-6 rounded-lg transition duration-300 ease-in-out text-center'
          >
            Actualizar Lista de Precios
          </a>
          <a
            href='/generate-codebars'
            class='flex items-center justify-center bg-indigo-600 hover:bg-indigo-800 text-white font-bold py-4 px-6 rounded-lg transition duration-300 ease-in-out text-center'
          >
            Generar Códigos de Barras
          </a>
          <a
            href='/api/users/logout'
            class='flex items-center justify-center bg-gray-600 hover:bg-gray-800 text-white font-bold py-4 px-6 rounded-lg transition duration-300 ease-in-out text-center'
          >
            Cerar Sesión
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
text-center