<div class="flex justify-center items-center h-screen">
  <div class="px-10 py-16 bg-white rounded-lg shadow-xl">
    <h1 class="text-4xl font-semibold text-gray-800 mb-10 text-center">Menú de
      Opciones</h1>
    <div class="flex flex-col space-y-6">
      <a
        href="/list-products"
        class="bg-blue-500 text-white font-bold py-4 px-8 text-lg rounded hover:bg-blue-700 text-center transition duration-300 ease-in-out"
      >Lista de precios</a>
      <a
        href="/manage-suppliers"
        class="bg-purple-500 text-white font-bold py-4 px-8 text-lg rounded hover:bg-purple-700 text-center transition duration-300 ease-in-out"
      >
        Administrar Proveedores
      </a>
      <a
        href="/manage-factors"
        class="bg-green-500 text-white font-bold py-4 px-8 text-lg rounded hover:bg-green-700 text-center transition duration-300 ease-in-out"
      >Administrar factores de multiplicación</a>
      <a
        href="/upload-document"
        class="bg-red-500 text-white font-bold py-4 px-8 text-lg rounded hover:bg-red-700 text-center transition duration-300 ease-in-out"
      >Cargar lista</a>
      <a
        href="/edit-dollar"
        class="bg-yellow-500 text-white font-bold py-4 px-8 text-lg rounded hover:bg-yellow-600 text-center transition duration-300 ease-in-out"
      >Modificar valor del dólar</a>
    </div>
  </div>
</div>